ConsumidoresSOA/ConsumidorSOAP/Connected Services/WebServiceSOAPProducto/WebServiceProducto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/">
      <s:element name="obtenerPrecioConIVAdeProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idProducto" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerPrecioConIVAdeProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="obtenerPrecioConIVAdeProductoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="obtenerPrecioConIVAdeProductoSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerPrecioConIVAdeProducto" />
  </wsdl:message>
  <wsdl:message name="obtenerPrecioConIVAdeProductoSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerPrecioConIVAdeProductoResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceProductoSoap">
    <wsdl:operation name="obtenerPrecioConIVAdeProducto">
      <wsdl:input message="tns:obtenerPrecioConIVAdeProductoSoapIn" />
      <wsdl:output message="tns:obtenerPrecioConIVAdeProductoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceProductoSoap" type="tns:WebServiceProductoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerPrecioConIVAdeProducto">
      <soap:operation soapAction="http://localhost/obtenerPrecioConIVAdeProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceProductoSoap12" type="tns:WebServiceProductoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerPrecioConIVAdeProducto">
      <soap12:operation soapAction="http://localhost/obtenerPrecioConIVAdeProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceProducto">
    <wsdl:port name="WebServiceProductoSoap" binding="tns:WebServiceProductoSoap">
      <soap:address location="http://localhost:64099/WebServiceProducto.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceProductoSoap12" binding="tns:WebServiceProductoSoap12">
      <soap12:address location="http://localhost:64099/WebServiceProducto.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>